.bar {
  background-color: $bg-alt;
  padding: 4px;
}

.workspaces {
  background-color: $bg;
  margin: 4px;
  padding: 5px 2px;

  .workspace-icon {
  };
  .empty-workspace-icon {
  };
}

.indicator {
  background-color: $bg;
  margin: 4px;

  .indicator-icon {
    padding: 5px 2px;
  };
}

.indicator scale {
  all: unset;
  
  trough {
    min-height: 5px;

    highlight {
      background-color: $blue;
    };
  };
};
