/* Variables */
:root{
  /* colors replaced by stylix template */
  --uc-frame-color: BASE00; /*main color*/
  --toolbar-field-background-color: BASE01 !important; /*urlbar unfocused*/
  --toolbar-field-focus-background-color: BASE02 !important; /*urlbar focused*/

  /* floating url bar variables, WARN: jank */
  --uc-floating-margin: 8px;
  --uc-content-margin: 6px;
  --uc-content-margin-inline: calc(var(--uc-content-margin) * 2);
}

#browser { /*browser frame color*/
  background: var(--uc-frame-color) !important;
}

/*Remove upper bars*/
#titlebar,
#TabsToolbar { 
  display: none !important; /*hide upper tabs*/
}
#nav-bar {
  height:      40px !important;
  margin-top: -40px !important;
  overflow: visible !important; /*make possible to move buttons from navbar*/
}
#navigator-toolbox {
  border: none !important; /*no line under former navbar*/
  z-index: 1 !important; /*v137 fix*/
}

/*Move buttons*/
#PanelUI-button { /*settings button*/
  position: fixed !important;
  top:        5px !important;
  left:       5px !important;
}
#unified-extensions-button { /*extension button*/
  position: fixed !important;
  top:       5px  !important;
  left:     35px  !important;
}
#downloads-button { /*download button*/
  position: fixed !important;
  top:       5px  !important;
  left:     65px  !important;
}
#back-button {
  position: fixed !important;
  top:        5px !important;
  left:       135px !important;
}
#forward-button {
  position: fixed !important;
  top:        5px !important;
  left:       165px !important;
}
#stop-reload-button {
  position: fixed !important;
  top:        5px !important;
  left:       195px !important;
}

/* Sidebery */
#sidebar-box {
  background: var(--uc-frame-color) !important; /*sidebar background - not the sidebar! visible in corners*/
  width:      193px !important;
  margin-top:  80px !important;
  margin-left:  7px !important;
}
#sidebar-header,    /*no "Tabs" header*/
#sidebar-splitter { /*no movable splitline*/
  display: none;
}

/*Remove icons in urlbar and status in the left down angle*/
#urlbar:not([breakout-extend]){
  #statuspanel,
  #star-button-box,
  #identity-box,
  #permission-icon-container,
  #tracking-protection-icon-container { 
    display: none !important; 
  }
}

/*Urlbar*/
:has(#sidebar-box:not([hidden])) {
  #urlbar-background,#urlbar {
    border-radius: 10px !important; /*Urlbar corner radius*/
  }
  #urlbar-background {
    border:  none !important;
    outline: none !important;
  }
  #urlbar:not([breakout-extend]) {
    position: fixed !important;
    top:   40px !important;
    left:  8px !important;
    right: auto;
    width: 220px !important;
    padding-left: 8px !important;
  }
}

/* floating url bar WARN: begin jank */
#urlbar[breakout-extend] #urlbar-background {
  --field: Field;
  --urlbar-bg: var(--toolbar-field-focus-background-color);
  @media (-moz-platform: linux) {
    --urlbar-bg: var(--toolbar-field-focus-background-color, var(--field));
  }
  background-color: var(--urlbar-bg) !important;
}

#main-window:not([customizing]) {
    --uc-urlbar-width: clamp(
      min(
        calc(
          100vw - var(--uc-floating-margin) * 2 -
            var(--uc-content-margin-inline)
        ),
        500px
      ),
      64vw,
      800px
    );

    #urlbar,
    #urlbar-container {
      margin: auto !important;
    }

    #urlbar-container {
      flex: 1;
      max-width: 1000px;
    }

    #urlbar[breakout-extend] {
      position: fixed !important;
      width: var(--uc-urlbar-width) !important;
      right: 0px !important;
      left: 0px !important;

      top: 20vh !important;
      bottom: auto !important;

      .urlbar-input,
      #urlbar-input {
        font-size: 16px !important;
      }
    }
  }
/* end jank */
