// Base16 colours
// TODO: template these from stylix
$bg-alt   : #241d1a; // base00
$bg       : #362b27; // base01
$sel      : #473933; // base02
$invi     : #594740; // base03
$fg-alt   : #a78e84; // base04
$fg       : #b8a59d; // base05
$fg-light : #cabbb5; // base06
$bg-light : #dcd2ce; // base07
$red      : #f6998f; // base08
$orange   : #ffa888; // base09
$yellow   : #ffc37a; // base0A
$green    : #b6c68a; // base0B
$cyan     : #c0bcdb; // base0C
$blue     : #b0a4c3; // base0D
$purple   : #d8a2b0; // base0E
$brown    : #f1ae97; // base0F

* {
  all: unset;
}

// Corner rounding
$rounding: 8px;


window {
  background: $bg;
  color: $fg;

  & > * {
  }
  font-family: "monospace";
}

@import "./modules/bar.scss"
@import "./modules/player.scss"
