// Fallback colours for testing environment
$bg-alt   : #181818; // base00
$bg       : #282828; // base01
$sel      : #383838; // base02
$invi     : #585858; // base03
$fg-alt   : #b8b8b8; // base04
$fg       : #d8d8d8; // base05
$fg-light : #e8e8e8; // base06
$bg-light : #f8f8f8; // base07
$red      : #ab4642; // base08
$orange   : #dc9656; // base09
$yellow   : #f7ca88; // base0A
$green    : #a1b56c; // base0B
$cyan     : #86c1b9; // base0C
$blue     : #7cafc2; // base0D
$Purple   : #ba8baf; // base0E
$Brown    : #a16946; // base0F

// get colors from stylix
@import "./stylix.scss"

* {
  all: unset;
}

// Corner rounding
$rounding: 8px;


window {
  background: $bg;
  color: $fg;

  & > * {
  }
  font-family: "monospace";
}

@import "./modules/bar.scss"
@import "./modules/player.scss"
