#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
  default_album_art_path: None,
  show_song_table_header: true,
  draw_borders: true,
  browser_column_widths: [10, 43, 47],
  background_color: None,
  text_color: None,
  header_background_color: None,
  modal_background_color: None,
  tab_bar: (
    enabled: true,
    active_style: (fg: "black", bg: "blue", modifiers: "Bold"),
    inactive_style: (),
  ),
  highlighted_item_style: (fg: "blue", modifiers: "Bold"),
  current_item_style: (fg: "gray", bg: "dark_gray", modifiers: "Bold"),
  borders_style: (fg: "dark_gray"),
  highlight_border_style: (fg: "blue"),
  symbols: (song: "", dir: "", marker: " ", ellipsis: ""),
  progress_bar: (
    symbols: ["─", "─", "─", "─", ""],
    track_style: (fg: "dark_gray"),
    elapsed_style: (fg: "blue"),
    thumb_style: (fg: "blue"),
  ),
  scrollbar: (
    symbols: ["│", "│", "", ""],
    track_style: (fg: "dark_gray"),
    ends_style: (fg: "dark_gray"),
    thumb_style: (fg: "white"),
  ),
  song_table_format: [
    (
      prop: (kind: Property(Artist),
        default: (kind: Text("Unknown"))
      ),
      width: "20%",
    ),
    (
      prop: (kind: Property(Title), style: (fg: "white"),
        default: (kind: Text("Unknown"), style: (fg: "white"))
      ),
      width: "65%",
    ),
    (
      prop: (kind: Property(Duration),
        default: (kind: Text("-"))
      ),
      width: "15%",
      alignment: Right,
    ),
  ],

  
  layout: Split(direction: Vertical,panes: [
    (
      pane: Pane(TabContent),
      size: "100%",
    ),
    
    (
      pane: Split(direction: Horizontal, panes: [
        (size: "3", pane:Pane(Property(content:[
          (kind: Property(Status(StateV2(
            playing_label: "  ",
            paused_label: "  ",
            stopped_label: " … "
            )))),
          ])),
        ),
        (pane: Pane(ProgressBar), size: "100%"),
        (pane:
          Pane(Property(align: Right, content:[
          (kind: Text(" ")),
          (kind: Property(Status(Elapsed))),
          (kind: Text(" / ")),
          (kind: Property(Status(Duration))),
          ])),
        size: "14"),
      ]),
      size: "1",
    ),
    
    (
      pane: Pane(Header),
      size: "2",
    ),
  ],),

  
  header: (
    rows: [
      (
        left: [
          (kind: Property(Song(Title)), style: (modifiers: "Bold"),
            default: (kind: Text("No Song"), style: (modifiers: "Bold"))
          )
        ],
        center: [

        ],
        right: [
          (kind: Text(" - ")),
          (kind: Property(Status(Volume)), style: (fg: "blue")),
          (kind: Text(" + ")),
          // (kind: Property(Widget(Volume)), style: (fg: "blue"))
        ]
      ),
      (
        left: [
          (kind: Property(Song(Artist)),
            default: (kind: Text("Unknown"))
          ),
        ],
        center: [
        ],
        right: [
          (kind: Property(Status(RepeatV2(on_label: " 󰑖 ", off_label: " 󰑗 ", on_style: (fg: "white", modifiers: "Bold"), off_style: (fg: "dark_gray"))))),
          (kind: Property(Status(RandomV2(on_label: " 󰒝 ", off_label: " 󰒞 ", on_style: (fg: "white", modifiers: "Bold"), off_style: (fg: "dark_gray"))))),
          (kind: Property(Status(ConsumeV2(on_label: " 󰮯 ", off_label: " 󰮯 ", oneshot_label: " 󰮯¹", on_style: (fg: "white", modifiers: "Bold"), off_style: (fg: "dark_gray"), oneshot_style: ())))),
          (kind: Property(Status(SingleV2(on_label: "  ", off_label: "  ", oneshot_label: " ¹", on_style: (fg: "white", modifiers: "Bold"), off_style: (fg: "dark_gray"), oneshot_style: ())))),
        ]
      ),
    ],
  ),
  browser_song_format: [
    (
      kind: Group([
        (kind: Property(Track)),
        (kind: Text(" ")),
      ])
    ),
    (
      kind: Group([
        (kind: Property(Artist)),
        (kind: Text(" - ")),
        (kind: Property(Title)),
      ]),
      default: (kind: Property(Filename))
    ),
  ],
)

